@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;1,200&family=Nunito:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Nunito';
}

code {
  font-family: 'Nunito';
}
